.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
}
.bg{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 30rem;
    background: white;
}
.btn-side{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: fixed;
    top: .85rem;
    left: .65rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.links{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
a{
    font-size: 2rem;
    text-decoration: none;
    color: black;
}